/* index.css */

/* Style pour l'en-tête */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Centrer le contenu de la page */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Conteneur principal pour centraliser l'application */
#main-page {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
}

/* Style pour le contenu */
.content {
    margin: 20px 0;
}

/* Style pour le champ de saisie des tâches */
#task-input {
    width: calc(100% - 22px); /* Ajuster la largeur pour inclure la marge */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style pour les boutons */
button {
    width: 48%;
    padding: 10px;
    margin: 5px 1%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style pour les en-têtes de section */
.header {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

/* Style pour la liste des tâches */
#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li.completed {
    text-decoration: line-through;
    color: gray;
}